.login-container {
  min-height: 80vh;
  background-color: #f8f9fa; /* لون خلفية رمادي فاتح جداً زي بروبرتي فايندر */
}

.form-control:focus {
  border-color: #ef3341;
  box-shadow: 0 0 0 0.25rem rgba(239, 51, 65, 0.1);
}

.btn-danger {
  background-color: #ef3341;
  border: none;
}

.btn-danger:hover {
  background-color: #d12b36;
}