.wishlist-btn i {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.2s;
  color: #adb5bd; /* لون رمادي خفيف للمفرغ */
}

.wishlist-btn:hover i {
  transform: scale(1.2);
}

.text-danger {
  color: #ef3341 !important; /* اللون الأحمر بتاع بروبرتي فايندر */
}